<html>
	<head>
		<title>NWC Jobs:Home</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/cs.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/bootstrap.js" type="text/JavaScript"></script>
		<script src="js/bootstrap.min.js" type="text/JavaScript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="css/main.css">
		<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Your Website Title" />
		<meta property="og:description"   content="Your description" />
		<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/main.js" type="text/JavaScript"></script>
		<script src="js/anime.js" type="text/JavaScript"></script>
		<script src="js/anime.min.js" type="text/JavaScript"></script>
		<style>
			@media screen and (max-width: 900px) {
				#logo{
					text-align:center;
				}
			}
		</style>
	</head>
	<body>
		<header style="width:100%;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" id="logo">
						<img src="img/logo.png" style="width:80px; height:auto;margin:10px;"/>
					</div>
				</div>
			</div>
		</header>
		<section style="padding-top:150px;">
		</section>
		<section  style=" box-shadow:1px 1px 2px #D1D1D1;">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3 style="floa">Mitra ID: NWC12354</h3>
						
					</div>
					<div class="col-md-6">
						<h4></h4>
						
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<h5><b>Establishment/ Person Name</b>: <span style="color:gray;">Executive- Shyoraj</span></h5> 
					</div>
					<div class="col-md-4 col-xs-12">
						<h5><b>Contact Details</b>: <span style="color:gray;">8426020355</span></h5> 
					</div>
					<div class="col-md-4 col-xs-12">
						<h5><b>Email ID</b>: <span style="color:gray;">mangal.dhruv001@gmail.com</span></h5> 
					</div>
					<div class="col-md-4 col-xs-12">
						<h5><b>Address</b>: <span style="color:gray;">1/56,Malviya Nagar, Jaipur</span></h5> 
					</div>
				</div>
			
			<br/>
			<br/>
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<center><button class="btn" style="background-color:#4A4D4E; color:white;font-size:20px; width:300px; margin-top:5px;">Register Single Job Seeker</button></center>
				</div>
				<div class="col-md-6 col-xs-12">
					<center><button class="btn" style="border-color:red;background-color:white; color:red;font-size:20px;width:300px; margin-top:5px;">Register Bulk Job Seeker</button></center>
				</div>
			</div>
			</div>
			<br/>
		</section>
		
		<section  style=" box-shadow:1px 1px 2px #D1D1D1; margin-top:50px;">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<h3>Status</h3>
						
					</div>
					<div class="col-md-8  col-xs-8">
						<h5 style="float:right;color:red; padding-top:15px;">200 Registration</h5>
						
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-6 col-xs-4">
						<h5><b>Job Categories</b></h5>
						
					</div>
					<div class="col-md-3 col-xs-4">
						<h5><b>No. of Candidates</b></h5>
						
					</div>
					<div class="col-md-3 col-xs-4">
						<h5><b>Details</b></h5>
						
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-6 col-xs-4">
						<h5><i>Backend/ BPO</i></h5>
						
					</div>
					<div class="col-md-3 col-xs-4">
						<h5><i>12</i></h5>
						
					</div>
					<div class="col-md-3 col-xs-4">
						<h5><i>Details</i></h5>
						
					</div>
						
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-6 col-xs-4">
						<h5><i>Backend/ BPO</i></h5>
						
					</div>
					<div class="col-md-3 col-xs-4">
						<h5><i>12</i></h5>
						
					</div>
					<div class="col-md-3 col-xs-4">
						<h5><i>Details</i></h5>
						
					</div>
						
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-6 col-xs-4">
						<h5><i>Backend/ BPO</i></h5>
						
					</div>
					<div class="col-md-3 col-xs-4">
						<h5><i>12</i></h5>
						
					</div>
					<div class="col-md-3 col-xs-4">
						<h5><i>Details</i></h5>
						
					</div>
						
				</div>
				<hr/>
							<br/>
		</section>
		<section  style=" box-shadow:1px 1px 2px #D1D1D1; margin-top:50px;">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3>Details of Registered Jobseekers</h3>	
					</div>
					<div class="col-md-6">
						
						
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<label for="job category">Job Category</label>
						<select class="form-control">
							<option> Mechanic</option>
							<option> Electrician</option>
							<option> CNC Mechanic</option>
						</select>
					</div>
					<div class="col-md-4 col-xs-4">
						<label for="job category">Experience</label>
						<select class="form-control">
							<option>Freshers</option>
							<option>0-2 Years</option>
							<option> 2-5 Years</option>
							<option> Above 5 Years</option>
						</select>
					</div>
					<div class="col-md-4 col-xs-4">
						<label for="job category">Month</label>
						<input type="month" class="form-control"/>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-12">
						<p style="color:red;">Total Results Found: 22</p>
					</div>
				</div>
			</div>
			<br/>
		</section>	