<html>
	<head>
		<title>NWC Jobs:Home</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/cs.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/bootstrap.js" type="text/JavaScript"></script>
		<script src="js/bootstrap.min.js" type="text/JavaScript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="css/main.css">
		<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Your Website Title" />
		<meta property="og:description"   content="Your description" />
		<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/main.js" type="text/JavaScript"></script>
		<script src="js/anime.js" type="text/JavaScript"></script>
		<script src="js/anime.min.js" type="text/JavaScript"></script>
		<style>
			@media screen and (max-width: 900px) {
				#logo{
					text-align:center;
				}
			}
		</style>
	</head>
	<body style="background-color:#fafafa;">
		<header style="width:100%;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" id="logo">
						<img src="img/logo.png" style="width:80px; height:auto;margin:10px;"/>
					</div>
				</div>
			</div>
		</header>
		<section style="padding-top:150px;">
		</section>
		<section >
			<div class="container"style="background-color:white; padding:10px;">
				<div class="row">
					<center><h4>List of Jobseekers	</h4></center>
					<hr/>
				</div>
				<div class="row">
					<div class="col-md-1">
						<h6><b>Date</b></h6>
					</div>
					<div class="col-md-1">
						<h6><b>User ID</b></h6>
					</div>
					<div class="col-md-1">
						<h6><b>Name</b></h6>
					</div>
					<div class="col-md-1">
						<h6><b>Contact No.</b></h6>
					</div>
					
					<div class="col-md-3">
						<h6><b>Job Category</b></h6>
					</div>
					<div class="col-md-1">
						<h6><b>Experience</b></h6>
					</div>
					<div class="col-md-2">
						<h6><b>Location</b></h6>
					</div>
					<div class="col-md-1">
						<h6><b>Password</b></h6>
					</div>
					<div class="col-md-1">
						<h6><b>Edit Profile</b></h6>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-md-1">
						<h6>22 Dec'18</h6>
					</div>
					<div class="col-md-1">
						<h6>#5685</h6>
					</div>
					<div class="col-md-1">
						<h6>Narendra Kumar</h6>
					</div>
					<div class="col-md-1">
						<h6>8426020355</h6>
					</div>
					
					<div class="col-md-3">
						<h6>Backend/ BPO Customer care</h6>
					</div>
					<div class="col-md-1">
						<h6>2-5 Years</h6>
					</div>
					<div class="col-md-2">
						<h6>Rajasthan, Jaipur</h6>
					</div>
					<div class="col-md-1">
						<h6 style="color:red;">@01010101dHR</h6>
					</div>
					<div class="col-md-1">
						<h6><u>Edit Profile</u></h6>
					</div>
				</div>
			</div>
		</section>