<script>
	function select_job_role(x)
	{
		
	}
	$(document).ready(function ()
		{
			var query = window.location.search.substring(1);
			alert(query);
       }
	  )
</script>
<section id="category" style=" background-color:white; margin:0px -15px;">
	<div class="containe">
		<div class="row">
			<div class="col-md-12">
				<center><h3>Select Job Role</h3></center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-xs-12"  style="text-align:center;">
				<div class="job_cat" onclick="select_job_role('ELECTRICIAN/इलेक्ट्रीशियन')">
					<div style="height:30%;">		
						<p style="color:black; padding-top:10px;">ELECTRICIAN</p>
					</div>
					<hr/>
					<div style="height:45%;">
						<p>इलेक्ट्रीशियन </p>			
					</div>	
				</div>
				<div class="job_cat">
					<div style="height:30%;">
						<p style="color:black; padding-top:10px;">OFFICE BOY</p>
					</div>
					<hr/>
					<div style="height:50%">
						<p>चपरासी</p>
					</div>
										
				</div>
				<div class="job_cat">
					<p style="color:black;">RECEPTIONIST</p><hr/>
					<p>रिसेप्शनिस्ट </p>					
				</div>
				<div class="job_cat">
					<p style="color:black;">DATA ENTRY</p><hr/>
					<p>डाटा एंट्री </p>					
				</div>
				<div class="job_cat">
					<p style="color:black;">BPO</p><hr/>
					<p> बीपीओ</p>					
				</div>
				<div class="job_cat">
					<p style="color:black;">SALES DEVELOPMENT</p><hr/>
					<p>सेल्स डेवलपमेंट</p>					
				</div>
				<div class="job_cat">
					<p style="color:black;">ACCOUNTS & FINANCE</p><hr/>
					<p>लेखांकन और वित्त </p>					
				</div>
				<div class="job_cat">
					<p style="color:black;">SALES DEVELOPMENT</p><hr/>
					<p>सेल्स डेवलपमेंट</p>					
				</div>
				<div class="job_cat">
					<p style="color:black;">MECHANIC TECHNICIAN</p><hr/>
					<p>मैकेनिक तकनीशियन</p>					
				</div>
				<div class="job_cat">
					<p style="color:black;">TECHNICIAN</p><hr/>
					<p>तकनीशियन</p>					
				</div>
				<div class="job_cat">
					<p style="color:black;">WORKER/ HELPER</p><hr/>
					<p>मज़दूर/ हेल्पर </p>					
				</div>
				<div class="job_cat">
					<p style="color:black;">CNC OPERATOR / MACHINIST</p><hr/>
					<p>इसीएनसी ऑपरेटर / मशीनिस्ट </p>					
				</div>

			</div>
		</div>
	</div>


			<!--<div class="container-fluid">
				<div class="row" style="background-color:;">
					<center><h4 style="color:black; margin-left:30px;">Choose Category</h4></center>
				</div>
				<div class="row" style="padding-left:30px;">

						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 3px gray inset; background-color:white; cursor:pointer;" onclick="document.getElementById('job_role_ab').value= 'Mechanic';">
							<center><img src="img/1-a.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>Mechanic</h4></center>
						</div>
						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 2px gray inset; background-color:white;" onclick="document.getElementById('job_role_ab').value= 'Call Center/ BPO';">
							<center><img src="img/2-a.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>Call Center/ BPO</h4></center>
						</div>
						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 2px gray inset; background-color:white;" onclick="document.getElementById('job_role_ab').value= 'Electrician';">
							<center><img src="img/electrician-a.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>Electrician</h4></center>
						</div>
						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 2px gray inset; background-color:white;" onclick="document.getElementById('job_role_ab').value= 'Worker/ Helper';">
							<center><img src="img/worker.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>Worker</h4></center>
						</div>
						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 2px gray inset; background-color:white;" onclick="document.getElementById('job_role_ab').value= 'ITI';">
							<center><img src="img/ITI.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>ITI</h4></center>
						</div>
						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 2px gray inset; background-color:white;" onclick="document.getElementById('job_role_ab').value= 'Peon/ Office Boy';">
							<center><img src="img/peon.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>Peon</h4></center>
						</div>
						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 2px gray inset; background-color:white;" onclick="document.getElementById('job_role_ab').value= 'Receptionist';">
							<center><img src="img/reception.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>Receptionist</h4></center>
						</div>
						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 2px gray inset; background-color:white;" onclick="document.getElementById('job_role_ab').value= 'Supervisor';">
							<center><img src="img/supervisor.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>Supervisor</h4></center>
						</div>
						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 2px gray inset; background-color:white;" onclick="document.getElementById('job_role_ab').value= 'Technician';">
							<center><img src="img/technician.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>Technician</h4></center>
						</div>
						<div style="width:145;margin:3px; float:left;box-shadow:1px 1px 2px gray, 1px 1px 2px gray inset; background-color:white;" onclick="document.getElementById('job_role_ab').value= 'CNC Mechanist';">
							<center><img src="img/machinist.png" style=" height:60px;width:auto;margin:5px 0px;" ></center>
							<center><h4>Machinist</h4></center>
						</div>			
				</div>
			</div>-->
		</section>