{% extends "jobseeker/jobs.html" %}


{% block content %}
<div>
	<div class="job-heading" onclick="load_des()">
		<h4 style="color:#454546"><b>ITI Electrician</b></h4>
		
		<h5 style="color:#454546"> <u>Installation Pvt. Ltd.</u>-</h5>
		<p  style="color:#454546"><i class="fas fa-calendar-alt"></i> 2-5 Years <span style="color:#454546; float:right;"><i class="fas fa-map-marker-alt"></i> Jaipur, Rajasthan</span></p>
		<p class="search-text"><b>Salary: ‎₹ 9,000 - ‎₹ 15,000 a month</b></p>
	</div>
	<hr/>
	<div class="job-heading" onclick="load_des()">
		<h4 style="color:#454546"><b>Electrician Fresher</b></h4>
		
		<h5 style="color:#454546"> <u>Wires Pvt. Ltd.</u>-</h5>
		<p  style="color:#454546"><i class="fas fa-calendar-alt"></i> Fresher <span style="color:#454546; float:right;"><i class="fas fa-map-marker-alt"></i> Alwar, Rajasthan</span></p>
		<p class="search-text"><b>Salary: ‎₹ 9,000 - ‎₹ 15,000 a month</b></p>
	</div>
	<hr/>
	<div class="job-heading" onclick="load_des()">
		<h4 style="color:#454546"><b>Junior Electrician</b></h4>
		
		<h5 style="color:#454546"> <u>Infrastructure Pvt Ltd.</u>-</h5>
		<p  style="color:#454546"><i class="fas fa-calendar-alt"></i> 2-5 Years <span style="color:#454546; float:right;"><i class="fas fa-map-marker-alt"></i> Bhiwadi, Rajasthan</span></p>
		<p class="search-text"><b>Salary: ‎₹ 20,000 - ‎₹ 27,000 a month</b></p>
	</div>
	<hr/>
	<div class="job-heading" onclick="load_des()">
		<h4 style="color:#454546"><b>Artificial Intelligence Mechanic</b></h4>
		
		<h5 style="color:#454546"> <u>Cools hosting</u>-</h5>
		<p  style="color:#454546"><i class="fas fa-calendar-alt"></i> 2-5 Years <span style="color:#454546; float:right;"><i class="fas fa-map-marker-alt"></i> Jaipur, Rajasthan</span></p>
		<p class="search-text"><b>Salary: ‎₹ 10,000 - ‎₹ 20,000 a month</b></p>
	</div>
	<hr/>
	
</div>
{% endblock %}