<div id="ad">
					<center><i class="fas fa-user-circle" id="ad-icon" style="color:#4a4d4e;"></i><h4 class="ad-text">Post a job & Receive calls</h4></center>
					<center><h6 class="ad-text"> Find the right fit everyday. Start hiring now.</h6></center>
					<center><button class="btn " style="background-color:red; color:white; border-radius:5px;" onclick="register()">Buy Online</button></center>
				</div>
				
				
<div>
	<center><img src="img/xyz.png" style="width:300px; height:auto;"/></center>
</div>				