<div>
	
	<div class="container-fluid" onclick="load_candidate()" style="width:100%; margin-bottom:30px;">
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<center><img src="img/female.png" style="height:100px; width:auto; padding:0px 20px; " /></center>
				<center><h5 style="color:#454546; text-align:center;">Male,28 years </h5></center>
			</div>
			<div class="col-md-6 col-xs-6">
				<center><h5 style="color:#454546;"><b>Candidate Id: 5054636</b></h5></center>
				<center><h4 style="color:#454546; color:red; padding:5px; cursor:pointer; border-radius:5px;"><b>Read Profile</b></h4></center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p style="color:#454546; font-size:14px;	">I am looking for <b>CNC Mechanist</b> jobs across <b>punjab</b> </p>
					
				<p class="search-text"> Expected Salary: <b>10,000 Rs - 20,000 Rs/ month</b></p>
				<p style="color:#454546; float:left; padding-left:10px; font-family:poppins;"> <i class="fas fa-calendar-alt"> 2-5 Years</i></p>
				<p style="color:#454546; float:right; padding-left:10px;"> <i class="fas fa-map-marker-alt"></i> Jaipur, Rajasthan</span></p>
		
			</div>
		</div>
	</div>
	<hr/>
	<div class="container-fluid" onclick="load_candidate()" style="width:100%; margin-bottom:30px;">
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<center><img src="img/female.png" style="height:100px; width:auto; padding:0px 20px; " /></center>
				<center><h5 style="color:#454546; text-align:center;">Male,28 years </h5></center>
			</div>
			<div class="col-md-6 col-xs-6">
				<center><h5 style="color:#454546;"><b>Candidate Id: 5054636</b></h5></center>
				<center><h4 style="color:#454546; color:red; padding:5px; cursor:pointer; border-radius:5px;"><b>Read Profile</b></h4></center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p style="color:#454546; font-size:14px;	">I am looking for <b>CNC Mechanist</b> jobs across <b>punjab</b> </p>
					
				<p class="search-text"> Expected Salary: <b>10,000 Rs - 20,000 Rs/ month</b></p>
				<p style="color:#454546; float:left; padding-left:10px; font-family:poppins;"> <i class="fas fa-calendar-alt"> 2-5 Years</i></p>
				<p style="color:#454546; float:right; padding-left:10px;font-family:poppins;"> <i class="fas fa-map-marker-alt"></i> Jaipur, Rajasthan</span></p>
		
			</div>
		</div>
	</div>
	<hr/>
	<div class="container-fluid" onclick="load_candidate()" style="width:100%; margin-bottom:30px;">
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<center><img src="img/female.png" style="height:100px; width:auto; padding:0px 20px; " /></center>
				<center><h5 style="color:#454546; text-align:center;">Male,28 years </h5></center>
			</div>
			<div class="col-md-6 col-xs-6">
				<center><h5 style="color:#454546;"><b>Candidate Id: 5054636</b></h5></center>
				<center><h4 style="color:#454546; color:red; padding:5px; cursor:pointer; border-radius:5px;"><b>Read Profile</b></h4></center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p style="color:#454546; font-size:14px;	">I am looking for <b>CNC Mechanist</b> jobs across <b>punjab</b> </p>
					
				<p class="search-text"> Expected Salary: <b>10,000 Rs - 20,000 Rs/ month</b></p>
				<p style="color:#454546; float:left; padding-left:10px; font-family:poppins;"> <i class="fas fa-calendar-alt"> 2-5 Years</i></p>
				<p style="color:#454546; float:right; padding-left:10px;"> <i class="fas fa-map-marker-alt"></i> Jaipur, Rajasthan</span></p>
		
			</div>
		</div>
	</div>
	<hr/>
	<div class="container-fluid" onclick="load_candidate()" style="width:100%; margin-bottom:30px;">
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<center><img src="img/female.png" style="height:100px; width:auto; padding:0px 20px; " /></center>
				<center><h5 style="color:#454546; text-align:center;">Male,28 years </h5></center>
			</div>
			<div class="col-md-6 col-xs-6">
				<center><h5 style="color:#454546;"><b>Candidate Id: 5054636</b></h5></center>
				<center><h4 style="color:#454546; color:red; padding:5px; cursor:pointer; border-radius:5px;"><b>Read Profile</b></h4></center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p style="color:#454546; font-size:14px;	">I am looking for <b>CNC Mechanist</b> jobs across <b>punjab</b> </p>
					
				<p class="search-text"> Expected Salary: <b>10,000 Rs - 20,000 Rs/ month</b></p>
				<p style="color:#454546; float:left; padding-left:10px; font-family:poppins;"> <i class="fas fa-calendar-alt"> 2-5 Years</i></p>
				<p style="color:#454546; float:right; padding-left:10px;"> <i class="fas fa-map-marker-alt"></i> Jaipur, Rajasthan</span></p>
		
			</div>
		</div>
	</div>

		
	</div>
	