<div id="filter-div">
	<div>
	<center><h4 class="" style="color:black;"><b>Search Candidate by</b></h4></center>
	<hr/>
</div>
<form>
<div class="filter-category">
	
		<center>
		
		<input type="text"  id="job_role_ab" placeholder="Job Role" class="form-control" onclick="category()" style="width:100%;"/>
	</center>
</div>
<hr/>
<div class="filter-category">
	<center>
		<input type="text" placeholder="Skills" class="form-control" onclick="skills()" style="width:100%;"/>
	</center>
</div>
<hr/>

<div class="filter-category">
	<center>
		
		<input type="text" placeholder="Location" class="form-control" id="location_12" onclick="location()" style="width:100%;"/>
	</center>
</div>
<hr/>
<div class="filter-category">
	<center>
		<input type="text" placeholder="Education" class="form-control" onclick="category()" style="width:100%;"/>
	</center>
</div>
<hr/>
<div class="filter-category">
	<h4>Salary</h4>
	<div class="filter-radio">
		<input type="checkbox" name="10000" value="10000"> Rs 5000 - Rs 9000<br/>
		<input type="checkbox" name="salary" value="20000"> Rs 9000 - Rs 15000<br/>
		<input type="checkbox" name="gender" value="woman"> Rs 15000 - Rs 20000<br/>
		<input type="checkbox" name="gender" value="woman"> Rs 20000 - Rs 27000<br/>
		<input type="checkbox" name="gender" value="woman"> Rs 27000 - Rs 35000<br/>
		<input type="checkbox" name="gender" value="woman"> Rs 35000 - Rs 42000<br/>
		<input type="checkbox" name="gender" value="woman"> Rs 42000 - Rs 55000<br/>
		<input type="checkbox" name="gender" value="woman"> Rs 55000 - Rs 70000<br/>
		<input type="checkbox" name="gender" value="woman"> Above Rs 70000 <br/><br/>
	</div>
</div>
<hr/>
<div class="filter-category">
	<h4>Experience</h4>
	<div class="filter-radio">
		<input type="checkbox" name="10000" value="10000"> Fresher<br/>
		<input type="checkbox" name="salary" value="20000"> 0-2 Years<br/>
		<input type="checkbox" name="gender" value="woman"> 2-5 Years<br/>
		<input type="checkbox" name="gender" value="woman"> 5-10 Years<br/>
		<input type="checkbox" name="gender" value="woman"> 10-15 Years<br/>
		<input type="checkbox" name="gender" value="woman"> 15 & above Years<br/>
	</div>
</div>
<hr/>
<div class="filter-category">
	<p style="color:#4a4d4e;"><u><b>Advance  Filters</b></u></p>
</div>

<!--<div class="filter-category">
	<p class="fil">&times; clear</p>
</div>-->	
</form>
</div>