
<div id="job-des" style="">
	<div class="container-fluid">
		<div class="job-close" style="cursor:pointer;">
			<h4 onclick="close_des()" >&times;</h4>
		</div>
	
					<div class="row">
						<div class="col-md-12">
							<h3><b>ITI Electrician</b></h3>
							<h4><u>Installation Pvt Ltd</u></h4>
							<h6 style="float:left; padding-left:10px; font-family:verdana;"> Job Posted On: 12 December'18</h6>
							<h6 style="float:right; padding-right:10px;"> <i class="fas fa-map-marker-alt"></i> Jaipur</h6>
						</div>
						<div class="col-md-12">
							<button class="btn" style="background-color:red; color:white; font-size:16px;"> Contact Company </button>
							<button class="btn" style=" font-size:16px;">Save Job</button>
							<button class="btn" style=" font-size:16px;">Share Job</button>
						</div>
					</div>
					<hr/>
					<div class="row">
						<div class="col-xs-12">
						<h4>Job Id: <span style="color:gray;"> NWC2013456</span></h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
						<h4>Job Description: </h4>
						<h4 style="margin:0px 20px; text-align:justify; color:gray;">Installation Pvt. Ltd. is Hiring "ITI Electrician" for Maintenance Department 
						timing includes: 10AM to 5PM from Monday to Saturday. Sunday Off. </h4>	
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h4 style="padding-top:10px;">Salary: <span style="color:gray;">‎₹ 9000- ₹ 15000/-</span></h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h4>Education: <span style="color:gray;">12th Pass</span></h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h4>Gender Preferred: <span style="color:gray;">Male & Female Both</span></h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h4>Skills Required: </h4>	
						</div>
						<div class="col-xs-12" id="skills">
						</div>
					</div>
				</div>
			</section>
			
<script>
			$(document).ready(function()
				{
					$("#skills").load("skills.html");
					
				}
			
			)
					
		</script>
	<!--<div class="job-heading" onclick="load_des()">
		<h3><b><u>Mechanic</u></b></h3>
		<p style="float:right; margin-right:20px;"><span><b>Job Id: 123456</b></span><br/><br/><span >Posted on: 1 Nov'18</span></p>
		<h4 class="job-emp" style="color:red;">NWC Jobs</h4>
		<h4>Jaipur, Rajasthan</h4>
	</div>
	<div class="">
		<p id="contact_company" style="display:none;"><span class="btn " style="background-color:red; color:white; display:none;">Call</span><span class="btn" style="background-color:red; color:white;">Whatsapp</span></p>
		<p><span class="btn" style="background-color:red; color:white;" onclick="change()" id="contact_company">Contact Company</span> <span class="btn"  style="background-color:#eaeaea; color:black;" onclick="alert('your job has been saved');"> Save Job</span> <span class="btn" style="background-color:#eaeaea; color:black;" > Share</span></p>
	</div>
	<hr/>
	
	<p><b><span style="float:left">Education: 10th Pass</span><span style="float:left; margin-left:50px;">Gender: Male</span><span style="float:left; margin-left:50px;">Salary: Rs 5000-10000 </span></b></p>
	<br/>
	<p></p>
	<p></p>
	<p></p>
	<p>Skills:</p>
	<ul>
		<li>Know Mould / Tool making process </li>
		<li>Handle Multi-Axis Machines </li>
		<li>Do 2D programing and set the Machine </li>
		<li>Mould Spare management, Mould Health Checkup, Outsourcing Mould tracking </li>
		<li>Knowledge of machines and tools, including their designs, uses, repair, and maintenance</li>
		
	</ul>
	<p>Job Details:</p>
		<p>Hiring for mechanical engineer (Production ) (Quality )
Appearing candidates apply
Timing -Day/ Night Shift 8 hours / Days
Weekly off - Sunday
Required---Fresher 2018 
Skills and Qualifications Can channelize activities for impending problem</p>

-->
</div>
<script>
	function change()
	{
		document.getElementById('contact_company').style.display= 'none';
		document.getElementById('company_contact').style.display='block';
	}
</script>