<section id="div-form" style=" margin-right:20px; ">
				
			<div class="container-fluid" style="">
				
				<div class="row">
					<div class="col-md-4" style="background-color:#4A4D4E; height:500px; margin-bottom:-200px;">
							<center><h2 style="color:white; font-family:poppins; margin-top:200px;">COMPANY REGISTER</h2></center>
					</div>
					<div class="col-md-8 col-xs-12" style="padding:10px 50px;">
						<form action="employer.html" method="post">
						<div style="height:20px; width:100%;">	
							<div id="mobile-label">
								<p  style="font-size:12px; font-family:poppins; color:black; margin-bottom:20px; display:block;">Company Name</p>
							</div>		
						</div>
						
							<center><input type="text" required class="mobile" style="border:none; border-bottom:1px solid #4A4D4E;outline: none; width:100%" name="mobile" placeholder="Company Name" autofocus="autofocus" onfocus="inputfocus(this, 'Company Name', 'mobile-label')" onblur="inputblur(this, 'Company Name', 'mobile-label')"></center>
						<div style="height:20px; width:100%;">	
							<div id="contact-label" style="float:left;display:none;">
								<p  style="font-size:12px; font-family:poppins; color:black; margin-bottom:0px; margin-top:10px; ">Contact Person</p>
							</div>
						</div>	
							<center><input type="text" required class="mobile" style="border:none; border-bottom:1px solid #4A4D4E;outline: none; width:100%; margin-top:10px;" name="mobile" placeholder="Contact Person" onfocus="inputfocus(this, 'Contact Person', 'contact-label')" onblur="inputblur(this, 'Contact Person', 'contact-label')"></center>
						<div style="height:20px; width:100%;">	
							<div id="email-label" style="float:left;display:none;">
								<p  style="font-size:12px; font-family:poppins; color:black; margin-bottom:0px; margin-top:10px; ">Email</p>
							</div>
						</div>	
							<center><input type="email" required class="mobile" style="border:none; border-bottom:1px solid #4A4D4E;outline: none; width:100%; margin-top:10px;" name="mobile" placeholder="Email" onfocus="inputfocus(this, 'Email', 'email-label')" onblur="inputblur(this, 'Email', 'email-label')"></center>
						
						<div style="height:20px; width:100%;">	
							<div id="GST-label" style="float:left;display:none;">
								<p  style="font-size:12px; font-family:poppins; color:black; margin-bottom:0px; margin-top:10px; ">GST Number</p>
							</div>
						</div>	
							<center><input type="number" required class="mobile" style="border:none; border-bottom:1px solid #4A4D4E;outline: none; width:100%; margin-top:10px;" name="mobile" placeholder="GST Number" onfocus="inputfocus(this, 'GST Number', 'GST-label')" onblur="inputblur(this, 'GST Number', 'GST-label')"></center>
								<center><input type="submit" class="btn" style="color:white; width:100%; border:none; font-size:18px; margin-top:25px; background-color:red; border-radius:0px; box-shadow: 1px 1px 3px gray;" name="login" value="REGISTER"></center>						
						</form>
					
					
						<div style=" margin-top:40px; float:bottom;">
							<div style="border-radius:50%; height:60px; width:60px; border:1px solid red; float:left; margin-left:40px; background-color:red; box-shadow:1px 1px 4px gray;">
								<center><p style="padding-top:15px; color:white;">STEP</p></center>
								<center><p style=" color:white;">1</p></center>
							</div>
							<div style="border-radius:50%; height:60px; width:60px; border:1px solid red; float:left; margin-left:40px; background-color:white; box-shadow:1px 1px 4px gray; background-color:red;">
								<center><p style="padding-top:15px; color:white;">STEP</p></center>
								<center><p style=" color:white;">2</p></center>
							</div>
							<div style="border-radius:50%; height:60px; width:60px; border:3px solid red; float:left; margin-left:40px; background-color:white; box-shadow:1px 1px 4px gray;">
								<center><p style="padding-top:15px; color:red;">STEP</p></center>
								<center><p style=" color:red;">3</p></center>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<script>
			function inputfocus(x, y, z)
			{
				x.placeholder=" ";
				document.getElementById(z).style.display= "block";
			}
			function inputblur(x,y,z)
			{
				x.placeholder=y;
				document.getElementById(z).style.display="none";
				if(x.value != '')
				{
					document.getElementById(z).style.display="block";
				}
			}
			function show_forget()
			{
				var x= document.getElementByClass('mobile');
				if(x.value != '')
				{
					document.getElementById('forget-label').style.display="block";
					document.getElementById('mobile-label').style.display="none";
				}
			}
		</script>