<html>
	<head>
		<title>NWC Jobs:Home</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/cs.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/bootstrap.js" type="text/JavaScript"></script>
		<script src="js/bootstrap.min.js" type="text/JavaScript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="css/main.css">
		<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="Your Website Title" />
		<meta property="og:description"   content="Your description" />
		<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/main.js" type="text/JavaScript"></script>
		<script src="js/anime.js" type="text/JavaScript"></script>
		<script src="js/anime.min.js" type="text/JavaScript"></script>
		<style>
			@media screen and (max-width: 900px) {
				#logo{
					text-align:center;
				}
			}
		</style>
	</head>
	<body>
		<header style="width:100%; margin-bottom:100px;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" id="logo">
						<img src="img/logo.png" style="width:80px; height:auto;margin:10px;"/>
					</div>
				</div>
			</div>
		</header>
		<div style="padding-top:120px;">
		</div>
		
		<nav style="width:20%;border-radius:10px; background-color:white; float:left; box-shadow:1px 1px 1px ;">
				<div class="container-fluid" style=" background-color:#4A4D4E; padding-bottom:10px;border-radius:5px; margin:10px;">
					<div class="row">
						<div class="col-md-12">
							<center><h1><i class="fas fa-user" style="font-size:50px;color:white; padding:20px 25px; border:2px solid white; border-radius:50%;"></i></h1></center>
						</div>
						<div class="col-md-12">
							<center><h4 style="color:white;">Hello</h4></center>
						</div>
						<div class="col-md-12">
							<center><h4 style="color:white;"><b>Facebook Inc.</b></h4></center>
						</div>
						
					</div>
				</div>
				
				<div class="container-fluid" style="background-color:white; padding-bottom:10px;">
				<hr/>
					<div class="row">
						<div class="col-md-12">
							<center><button style="color:gray; background-color:white; border:none; border-top:1px solid gray; width:100%; padding:10px 0px;"> Dashboard</button></center>
						</div>
						
						<div class="col-md-12">
							<center><button  style="color:gray; background-color:white; border:none; border-top:1px solid gray; width:100%; padding:10px 0px;"> Company Profile</button></center>
						</div>
						<div class="col-md-12">
							<center><button style="color:gray; background-color:white; border:none; border-top:1px solid gray; width:100%; padding:10px 0px;"> Post a Job</button></center>
						</div>
						<div class="col-md-12">
							<center><button  style="color:gray; background-color:white; border:none; border-top:1px solid gray; width:100%; padding:10px 0px;"> Plans</button></center>
						</div>
						<div class="col-md-12">
							<center><button style="color:gray; background-color:white; border:none; border-top:1px solid gray;width:100%; padding:10px 0px; margin-bottom:10px;"> Database Access	</button></center>
						</div>
						<div class="col-md-12">
							<center><button  style="color:gray; background-color:white; border:none; border-top:1px solid gray; width:100%; padding:10px 0px;"> Transactions</button></center>
						</div>
						<div class="col-md-12">
							<center><button style="color:gray; background-color:white; border:none; border-top:1px solid gray;border-bottom:1px solid gray; width:100%; padding:10px 0px; margin-bottom:10px;"> Change Password</button></center>
						</div>
						<div class="col-md-12">
							<center><button class="btn" style="color:white; background-color:red;  width:100%;"> Logout</button></center>
						</div>
						
					</div>
					
					
				</div>
			</nav>	
			
			<section style="margin:20px; float:left; width:70%;">
				<div class="container-fluid" style="box-shadow:1px 1px 3px; padding:10px;">
					<div class="row">
						<div class="col-md-12">
							<h3>Statistics</h3>
							<hr/>
						</div>
						<div class="col-md-12">
						<div style=" float:left; margin:0px 35px;">
							<div style="width:80px; height:80px; border-radius:50%;color:white;  background-color:#4A4D4E;border:2px solid #4A4D4E; margin:0px 20px;animation: spin 2s linear ;">
								<center><h1 style="padding-top:0px;color:white;">60</h1></center>
							</div>
							<div style="padding-top:0px;">
								<h4>Jobs Posted </h4>
							</div>
						</div>	
							
							<div style=" float:left; margin:0px 10px;">
							<center><div style="width:80px; height:80px; border-radius:50%;  background-color:white;border:2px solid #4A4D4E; margin:0px 20px;animation: spin 2s linear ;">
								<center><h1 style="padding-top:0px;color:red;">20</h1></center>
							</div></center>
							<div style="padding-top:0px;">
								<center><h4>Jobs Remaining</h4></center>
							</div>
						</div>
						
						<div style=" float:left; margin:0px 10px;">
							<div style="width:80px; height:80px; border-radius:50%;  background-color:white;border:2px solid #4A4D4E; margin:0px 20px;animation: spin 2s linear ;">
								<center><h1 style="padding-top:0px;color:#4A4D4E;">50</h1></center>
							</div>
							<div style="padding-top:0px;">
								<h4>Total Responses</h4>	
							</div>
						</div>
						<div style=" float:left; margin:0px 10px;">
							<div style="width:80px; height:80px; border-radius:50%;  background-color:white;border:2px solid #4A4D4E; margin:0px 20px;animation: spin 2s linear ;">
								<center><h1 style="padding-top:0px;color:#4A4D4E;">50</h1></center>
							</div>
							<div style="padding-top:0px;">
								<h4>Database Access</h4>	
							</div>
						</div>
						<div style=" float:left; margin:0px 10px;">
							<div style="width:80px; height:80px; border-radius:50%;  background-color:white;border:2px solid #4A4D4E; margin:0px 20px;animation: spin 2s linear ;">
								<center><h1 style="padding-top:0px;color:#4A4D4E;">50</h1></center>
							</div>
							<div style="padding-top:0px;">
								<h4>Downloaded Resumes</h4>	
							</div>
						</div>
						
						
						</div>
					</div>
				</div>
				
				
				<div class="container-fluid" style=" margin-top:20px; box-shadow:1px 1px 3px;">
					<div class="row">
						<div class="col-md-12">
							<h3>Jobs Posted</h3>
							<hr/>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-1">
							Date
						</div>
						<div class="col-md-1">
							Job ID
						</div>
						<div class="col-md-2">
							Job Title
						</div>
						<div class="col-md-2">
							Company
						</div>
						<div class="col-md-1">
							Location
						</div>
						<div class="col-md-1">
							Status
						</div>
						
						<div class="col-md-2">
							Responses(Views/ Calls/ Whatsapp)
						</div>
						<div class="col-md-2">
							Details
						</div>
					</div>
						<hr/>
					<div class="row">
						<div class="col-md-1">
							<p>22 Dec'18</p>
						</div>
						<div class="col-md-1">
							<p>5468</p>
						</div>
						<div class="col-md-2">
							<p>ITI Electrician</p>
						</div>
						<div class="col-md-2">
							<p>L&T Construction pvt ltd. vmnsfk ml;</p>
						</div>
						<div class="col-md-1">
							<p>Jaipur,</p>
						</div>
						<div class="col-md-1">
							<p>Active</p>
						</div>
						<div class="col-md-2">
							<p>100/86/ 12</p>
						</div>
						<div class="col-md-2">
							<p><u>Details</u></p>
						</div>
					</div>
					<hr/>
					<div class="row">
						<div class="col-md-1">
							<p>22 Dec'18</p>
						</div>
						<div class="col-md-1">
							<p>5468</p>
						</div>
						<div class="col-md-2">
							<p>ITI Electrician</p>
						</div>
						<div class="col-md-2">
							<p>L&T Construction pvt ltd. vmnsfk ml;</p>
						</div>
						<div class="col-md-1">
							<p>Jaipur,</p>
						</div>
						<div class="col-md-1">
							<p>Active</p>
						</div>
						<div class="col-md-2">
							<p>100/86/ 12</p>
						</div>
						<div class="col-md-2">
							<p><u>Details</u></p>
						</div>
					</div>
					<hr/>
					<div class="row">
						<div class="col-md-1">
							<p>22 Dec'18</p>
						</div>
						<div class="col-md-1">
							<p>5468</p>
						</div>
						<div class="col-md-2">
							<p>ITI Electrician</p>
						</div>
						<div class="col-md-2">
							<p>L&T Construction pvt ltd. vmnsfk ml;</p>
						</div>
						<div class="col-md-1">
							<p>Jaipur,</p>
						</div>
						<div class="col-md-1">
							<p>Active</p>
						</div>
						<div class="col-md-2">
							<p>86/ 12</p>
						</div>
						<div class="col-md-2">
							<p><u>Details</u></p>
						</div>
					</div>
					<hr/>	
				</div>
				
				
				<div class="container-fluid" style=" margin-top:20px; box-shadow:1px 1px 3px;">
					<div class="row">
						<div class="col-md-12">
							<h3>Database Access  </h3>
							<h5>Total: 25</h5><h5>Download (View/ Contacted): (12/8) </h5>
								<hr/>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-2">
							Date
						</div>
						<div class="col-md-2">
							Candidate ID
						</div>
						<div class="col-md-2">
							Job Category
						</div>
						
						<div class="col-md-2">
							Location
						</div>
						
						<div class="col-md-2">
							Contacted
						</div>
						<div class="col-md-2">
							Details
						</div>
					</div>
						<hr/>
					<div class="row">
						<div class="col-md-2">
							<p>22 Dec'18</p>
						</div>
						<div class="col-md-2">
							<p>5468</p>
						</div>
						<div class="col-md-2">
							<p>Electrician</p>
						</div>
						<div class="col-md-2">
							<p>Jaipur</p>
						</div>
						<div class="col-md-2">
							<p>Yes</p>
						</div>
						
						<div class="col-md-2">
							<p><u>Details</u></p>
						</div>
					</div>
					<hr/>
						
				</div>
				
				
				
			</section>	